  {% load staticfiles %}
  <!DOCTYPE html>
<html lang="en">
  <head>

    <title>About Spotable | SEO experts in Pune</title>
    <meta name="description" content="We have an experienced team which includes SEO specialists, full stack developers and even Google’s Ex-Employees.">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <meta name="google-site-verification" content="L1fLUIYzXPE9F327Jjom-0ElZYgxFBdGfeMBSmyXXyo" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static "shield.png" %}">


    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:700,400,300' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}" />
  </head>

  <body>

    <!-- Fixed navbar -->

    <div class="navbar navbar-default " id='mainmenu' style="background-color:#00b0ff;background-image:none !important;box-shadow:none!important;">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}" style='font-size: 28px;padding-top: 10px;'>

            <img src="{% static "img/shield.png" %}"  style="height:30px !important;padding-right:5px !important;display:inline-block;"><b>Spotable</b></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>


          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- Fixed navbar -->
<div class='aboutteam'>

  <div class="container" >
    <div class="row mt centered">
      <div class="col-lg-6 col-lg-offset-3">
        <h2 style="font-weight: 400 !important;font-size:42px !important;color: white !important;">Our <b>Team</b></h2>
        <p style="font-size:18px !important;color: white !important;">Our highly tallended team works out from our office in Pune, India.</p>

      </div>
    </div><!-- /row -->

    <div class="row mt centered">
    <div class="col-lg-1">

      </div>
      <div class="col-lg-2 team">
        <img class="img-circle" src="{% static "img/surajjoshi.png" %}" width="140" alt="surajjoshi from Pune"><br><br>
        <h4>Suraj Joshi </h4><p>
Sales & Marketing
        </p>
      </div><!--/col-lg-4 -->

      <div class="col-lg-2 team">
        <img class="img-circle" src="{% static "img/mayankjaiswal.png" %}" width="140" alt="Mayank Jaiswal from maharashtra"><br><br>
        <h4>Mayank Jaiswal  </h4><p>
Senior Developer</p>
      </div><!--/col-lg-4 -->

      <div class="col-lg-2 team">
        <img class="img-circle" src="{% static "img/namanmehta.png" %}" width="140" alt="Naman Mehta from Mumbai"><br><br>
        <h4>Naman Mehta</h4>
        <p>On-Page technician</p>
      </div><!--/col-lg-4 -->

      <div class="col-lg-2 team">
        <img class="img-circle" src="{% static "img/sherrypatel.png" %}" width="140" alt="Sherry Patel from Kothrude Pune"><br><br>
        <h4>Sherry Patel</h4>
        <p>Backlink Expert</p>
      </div><!--/col-lg-4 -->
      <div class="col-lg-2 team">
        <img class="img-circle" src="{% static "img/sachinbhat.png" %}" width="140" alt="Sachin Bhat from koregaon park Pune"><br><br>
        <h4>Sachin Bhat </h4>
        <p>Content Optimizer</p>
      </div><!--/col-lg-4 -->

    </div>



<br><br>

  </div>




</div>




  <div id="aboutpage" style="background-color:white !important;">
    <div class="container">


  <div class="row">


<div class="col-md-12">

<div class="col-md-1"></div>

<div class="col-md-10" id='aboutpagetext'>
<p>  Spotable is a digital marketing company specializing in Search engine optimization (SEO). We have a small but talented team with years of experience in SEO, We operate from our office located in Pune, India.</p>

<p>   Over the time We have been able to rank our client's websites successfully on google for their target keywords which help them generate new leads. This has been possible because of our dedicated and talented team members which include SEO specialist, full stack developers, and even Google's ex-employees.</p>

<p>   We follow ethical practices while optimizing websites, We also specialize in recovering from penalties imposed by google on any website. Weather the penalties are Panda, Penguin or even manual penalties, We have a good track record of fixing all.</p>

<p>   Due to our small team size, We are still picking out clients by individually contacting the owners of the websites we like to work with, and not going for mass marketing. We have kept our pricing affordable for the innovative startup companies who really require SEO.</p>

<p>   We are always looking for young and talented individuals who are interested in Digital marketing and also hold some basic technical knowledge with a desire to learn new things. If you want to experience how it is like to work with Team Spotable kindly contact us.</p>

</div>
<div class="col-md-1"></div>
</div>


  </div>
  </div>
  </div>



  <div class="footerlinks col-md-12">
    <div class='container'>
      <div class='row'>
        <div class="col-md-12">


          <div class="col-md-3">
          <p>  <a class='' href="{% url 'home' %}" style='font-weight: 400 !important; '>Home page</a></p>
          <p>   <a class='' href="{% url 'about' %}" style='font-weight: 400 !important;'>About us</a></p>
          <p>   <a class='' href="{% url 'contact' %}" style='font-weight: 400 !important;'>Contact us</a></p>
          </div>

          <div class="col-md-3">
          <p>   <a class='' href="{% url 'privacy' %}" style='font-weight: 400 !important; '>Privacy policy</a></p>
          <p>   <a class='' href="{% url 'blogindex' %}" style='font-weight: 400 !important;'>Our Blogs</a></p>
          <p>   <a class='' href="{% url 'contact' %}" style='font-weight: 400 !important;'>Apply for Job</a></p>
          </div>

          <div class="col-md-3">
          <p> Lane 6, Koregaon Park<br> Pune 411001</p>
          <p> info@spotable.in</p>

          </div>

          <div class="col-md-3">
            <input class="form-control" style="display:inline-block !important;width:150px !important;"></input>
            <submit class="btn btn-success" style="padding:10px !important;">Subscribe</submit><br><br>
            <img src="{% static "img/cards.png" %}"  style="width: 100% !important;">
          </div>









      </div>

       </div>
     </div>
   </div>

   <div class="col-lg-12" id='footerstrip' style='background-color: #353f49 !important;' >
  <div class="container desktop" style="padding:10px !important;    text-align: center !important;">

              <span style='color:white !important;font-weight: 400 !important;text-align:center !important;'>©Spotable 2017</span>

  <div class="container mobile footermobile">
    <div>
      <p>
  info@Spotable.in  &nbsp; &nbsp; &nbsp; &nbsp; +91 7276-888-089
  </p>
    </div>


  </div>


  </div>
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r ;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date() ;a=s.createElement(o),
  m=s.getElementsByTagName(o)[0] ;a.async=1 ;a.src=g ;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga') ;

  ga('create', 'UA-85089212-1', 'auto') ;
  ga('send', 'pageview') ;

  </script>
  </body>
  </html>
