<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">

{% load staticfiles %}
<!DOCTYPE html>


    <html >
       <head>

           <meta charset="utf-8">
           <meta http-equiv="X-UA-Compatible" content="IE=edge">

           <title>{% block title %}{% endblock %}</title>

           <!-- Meta -->
           <meta name="description" content="Fore is a free, responsive front end template from Papaya, made by Jordan Bowman.">
           <meta name="viewport" content="width=device-width, initial-scale=1">
           <meta name="author" content="Jordan Bowman">
           <meta name="keywords" content="awesome, hott, extremely attractive, sheer brilliance">


           <link rel="stylesheet" type="text/css" href="{% static "master.css" %}" />
           
           <script type="text/javascript" src="{% static 'index.js' %}"></script>
             <script src="//cloud.tinymce.com/stable/tinymce.min.js"></script>
  <script>tinymce.init({ selector:'textarea' });</script>

           <!-- Import web fonts using the link tag instead of CSS @import -->
           <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>

           <!-- Icons from http://fontawesome.io/ -->
           <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"/>


       </head>

       <body>


   <section style="background-color: #edefee;">
               <div class="navbar" style="padding:10px;margin:auto;max-width:1100px;">
                 <a href="{% url 'home' %}"><b style="font-size:26px;">Spotable</b><span style="vertical-align: top;">&trade;</span></a>
                 <span style='float:right;'>
                   <a href="{% url 'home' %}">Home</a>
                 <a href="{% url 'about' %}">About</a>
               <a href="{% url 'contact' %}">Contact</a></span>



               </div><!--/.nav-collapse -->
   </section>

  {% block content %}

  {% endblock %}


  <section class="call-to-action cta-2">
      <div class="cta-container cf">
          <p>Need help in SEO?</p>
          <a class="btn" href="{% url 'contact' %}">Get in touch →</a>
      </div>
  </section>

  <div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <ul class="footer_box">
                <h4>Pages</h4>
                <li><a class='' href="{% url 'home' %}" style='font-weight: 400; '>Home page</a></li>
                <li><a class='' href="{% url 'about' %}" style='font-weight: 400;'>About us</a></li>
                <li>  <a class='' href="{% url 'contact' %}" style='font-weight: 400;'>Contact us</a></li>

              </ul>
            </div>
            <div class="col-md-3">
              <ul class="footer_box">
                <h4>Legal</h4>
                <li><a class='' href="{% url 'privacy' %}" style='font-weight: 400; '>Privacy policy</a></li>
                <li><a class='' href="{% url 'contact' %}" style='font-weight: 400;'>Apply for Job</a></li>

              </ul>
            </div>
            <div class="col-md-3">
              <ul class="footer_box">
                <h4>Resource</h4>
                <li><a class='' href="{% url 'blog:blogindex' %}" style='font-weight: 400;'>Our Blogs</a></li>
                <li><a class='' href="{% url 'answers:blogindex' %}" style='font-weight: 400;'>Question & Answers</a></li>

              </ul>
            </div>

            <div class="col-md-3">
              <ul class="footer_box">
                <h4>Newsletter</h4>
                <div class="footer_search">
                     <form style="padding-bottom:10px;">
                    <input type="text" value="Enter your email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your email';}" style="line-height:1.6 !important;">
                    <input type="submit" value="Go">
                  </form><span style="color:white;">© 2017 Spotable</span>
                    </div>
                <ul class="social">
                  <li class="facebook"><a href="#"><span> </span></a></li>
                  <li class="twitter"><a href="#"><span> </span></a></li>
                  <li class="instagram"><a href="#"><span> </span></a></li>
                  <li class="pinterest"><a href="#"><span> </span></a></li>
                  <li class="youtube"><a href="#"><span> </span></a></li>
                  </ul>

              </ul>
            </div>

          </div>

        </div>
      </div>
  <!-- Footer -->



  <!-- Reference jQuery -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>

  <!-- Reference Javascript, minify for production -->


  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->


</body>

</html>
