  {% load staticfiles %}
  <!DOCTYPE html>
<html lang="en">
  <head>
    <title>Contact Us | Spotable Pune</title>
    <meta name="description" content="Contact spotable for your SEO questions or if you need assistance in SEO for your website.">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <meta name="google-site-verification" content="L1fLUIYzXPE9F327Jjom-0ElZYgxFBdGfeMBSmyXXyo" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static "shield.png" %}">


    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:700,400,300' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}" />
  </head>

  <body>

    <!-- Fixed navbar -->

    <div class="navbar navbar-default " id='mainmenu' style="background-color:#00b0ff;background-image:none !important;box-shadow:none!important;">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}" style='font-size: 28px;padding-top: 10px;'>

            <img src="{% static "img/shield.png" %}"  style="height:30px !important;padding-right:5px !important;display:inline-block;"><b>Spotable</b></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>


          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

  <div id="contactpage" style="background-color:white !important;">
    <div class="container">
      <div class="row">

<h1>Contact <b>Spotable</b></h1>

<br><p style="text-align:center !important;">Send across your query, We are happy to assist you in the best way possible.</p><br>


<div class="col-lg-12" id=''>
<br>
<div class='col-md-2'></div>
<div class='col-md-4' style="margin-right: 20px !important;">

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3782.8714965400527!2d73.89619751489296!3d18.53470828740073!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c10799b159eb%3A0x7563c4adb7ccfc2d!2sSpotable%2C+C-4%2C+Lane+Number+6%2C+Meera+Nagar%2C+Koregaon+Park%2C+Pune%2C+Maharashtra!5e0!3m2!1sen!2sin!4v1475583588220" scrolling="no" style='    border: 1px solid #cccccc !important;width:100% !important;height:225px !important;border-radius: 2px !important;box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25)  !important;' frameborder="0" style="border:0" scrolling="no" allowfullscreen></iframe><br><br>


</div>
<div class='col-md-4'>

    <form  action="" method="POST" enctype="multipart/form-data" style="margin-top: -20 !important;">

<input type="hidden" name="action1" value="Send">


<textarea type="text" class="form-control" id="exampleInputEmail1" name='message' placeholder="Your Message" style=" display: inline !important;width: 97% !important;height: 155px !important;" ></textarea><br><br>
<input type="text" class="form-control" id="exampleInputEmail1" name='email' placeholder="Your Email" style="    display: inline !important;width: 75% !important;">

            <button type="submit" class="btn btn-warning btn-lg" style="width: 22% !important;">Send</button>



</form><br>





<!-- <h3 style="text-align: center !important;color:white !important;">Spotable, Lane 6 - The Mesh , Koregaon Park , Pune - 411001</h3><br><br> -->
</div>
<div class='col-md-2'></div>

    </div>


</div></div>


  </div>


  <div class="footerlinks col-md-12">
    <div class='container'>
      <div class='row'>
        <div class="col-md-12">


          <div class="col-md-3">
          <p>  <a class='' href="{% url 'index' %}" style='font-weight: 400 !important; '>Home page</a></p>
          <p>   <a class='' href="{% url 'about' %}" style='font-weight: 400 !important;'>About us</a></p>
          <p>   <a class='' href="{% url 'contact' %}" style='font-weight: 400 !important;'>Contact us</a></p>
          </div>

          <div class="col-md-3">
          <p>   <a class='' href="{% url 'privacy' %}" style='font-weight: 400 !important; '>Privacy policy</a></p>
          <p>   <a class='' href="{% url 'about' %}" style='font-weight: 400 !important;'>Our Blogs</a></p>
          <p>   <a class='' href="{% url 'contact' %}" style='font-weight: 400 !important;'>Apply for Job</a></p>
          </div>

          <div class="col-md-3">
          <p> Lane 6, Koregaon Park<br> Pune 411001</p>
          <p> info@spotable.in</p>

          </div>

          <div class="col-md-3">
            <input class="form-control" style="display:inline-block !important;width:150px !important;"></input>
            <submit class="btn btn-success" style="padding:10px !important;">Subscribe</submit><br><br>
            <img src="{% static "img/cards.png" %}"  style="width: 100% !important;">
          </div>









      </div>

       </div>
     </div>
   </div>

   <div class="col-lg-12" id='footerstrip' style='background-color: #353f49!important' >
  <div class="container desktop" style="padding:10px !important;    text-align: center !important;">

              <span style='color:white !important;font-weight: 400 !important;text-align:center !important;'>©Spotable 2017</span>

  <div class="container mobile footermobile">
    <div>
      <p>
  info@Spotable.in  &nbsp !important;&nbsp !important;&nbsp !important;  +91 7276-888-089
  </p>
    </div>


  </div>


  </div></div>
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r ;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date() ;a=s.createElement(o),
  m=s.getElementsByTagName(o)[0] ;a.async=1 ;a.src=g ;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga') ;

  ga('create', 'UA-85089212-1', 'auto') ;
  ga('send', 'pageview') ;

  </script>
  </body>
  </html>
