{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Contact us | Spotable{% endblock %}

{% block content %}
  <div id="contactpage" style="background-color:white !important;">
    <div class="container">
      <div class="row">
<br>
<h1 style="text-align:center;">Contact <b>Spotable</b></h1>

<p style="text-align:center !important;">Send across your query, We are happy to assist you in the best way possible.</p>

<section>
<div class="col-lg-12" id=''>
<br>
<div class='col-md-2'></div>
<div class='col-md-4' style="margin-right: 20px !important;">

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3782.8714965400527!2d73.89619751489296!3d18.53470828740073!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c10799b159eb%3A0x7563c4adb7ccfc2d!2sSpotable%2C+C-4%2C+Lane+Number+6%2C+Meera+Nagar%2C+Koregaon+Park%2C+Pune%2C+Maharashtra!5e0!3m2!1sen!2sin!4v1475583588220" scrolling="no" style='    border: 1px solid #cccccc !important;width:100% !important;height:225px !important;border-radius: 2px !important;box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25)  !important;' frameborder="0" style="border:0" scrolling="no"; ></iframe><br><br>


</div>
<div class='col-md-4'>

 <form method="POST" class="post-form" id="form" style="display:block;padding-bottom:10px;">{{ message }}
  {% csrf_token %}

      {{ form.as_p }}
<input type="submit" style="background: #C7C7C7;
    padding: 9px 19px;
    border: none;
    cursor: pointer;
    position: absolute;
    line-height: 1.6em;
    font-size: 1em;
    color: #000;
    font-weight: 800;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;" value="Send!" >
  

 
              
                </form>




    <br><br>
<br>




<!-- <h3 style="text-align: center !important;color:white !important;">Spotable, Lane 6 - The Mesh , Koregaon Park , Pune - 411001</h3><br><br> -->
</div>



</div></div>


  </div>

</section>
{% endblock %}
