{% extends "base.html" %}
{% load staticfiles %}
{% block title %}SEO company in Pune | Spotable{% endblock %}

{% block content %}
  <div id="contactpage" style="background-color:white !important;">
    <div class="container">
      <div class="row">

<h1>Contact <b>Spotable</b></h1>

<br><p style="text-align:center !important;">Send across your query, We are happy to assist you in the best way possible.</p><br>


<div class="col-lg-12" id=''>
<br>
<div class='col-md-2'></div>
<div class='col-md-4' style="margin-right: 20px !important;">

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3782.8714965400527!2d73.89619751489296!3d18.53470828740073!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c10799b159eb%3A0x7563c4adb7ccfc2d!2sSpotable%2C+C-4%2C+Lane+Number+6%2C+Meera+Nagar%2C+Koregaon+Park%2C+Pune%2C+Maharashtra!5e0!3m2!1sen!2sin!4v1475583588220" scrolling="no" style='    border: 1px solid #cccccc !important;width:100% !important;height:225px !important;border-radius: 2px !important;box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25)  !important;' frameborder="0" style="border:0" scrolling="no" allowfullscreen></iframe><br><br>


</div>
<div class='col-md-4'>

    <form  action="" method="POST" enctype="multipart/form-data" style="margin-top: -20 !important;">

<input type="hidden" name="action1" value="Send">


<textarea type="text" class="form-control" id="exampleInputEmail1" name='message' placeholder="Your Message" style=" display: inline !important;width: 97% !important;height: 155px !important;" ></textarea><br><br>
<input type="text" class="form-control" id="exampleInputEmail1" name='email' placeholder="Your Email" style="    display: inline !important;width: 75% !important;">

            <button type="submit" class="btn btn-warning btn-lg" style="width: 22% !important;">Send</button>



</form><br>





<!-- <h3 style="text-align: center !important;color:white !important;">Spotable, Lane 6 - The Mesh , Koregaon Park , Pune - 411001</h3><br><br> -->
</div>
<div class='col-md-2'></div>

    </div>


</div></div>


  </div>


{% endblock %}
