{% extends "base.html" %}
{% load staticfiles %}
{% block title %}SEO company in Pune | Spotable{% endblock %}

{% block content %}



        <!-- Header -->
        <header id="main-header" style="padding4% !important;background-image:linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ),url('https://www.spotable.in/static/img/Evergreen.jpg');">
            <div class="container">
                <h1><span style="font-size:1.2em">Spotable is an SEO company </span>
                <span style=''>located in Pune </span></h1>
                        
            </div>
        </header>

        <!-- First call to action -->
       <section class="call-to-action">
            <div class="cta-container call-to-action1 cf" style="    max-width: 700px;">         
               
  <form method="POST" class="post-form" id="form" style="display: inline-block;color:grey;">
  {% csrf_token %}

      {{ form.as_p }}

  
<button type="submit"  class=" btn" style="">Get in touch →</button>
 
              
                </form>
            </div>
        </section>

        <!-- Macbook Section -->
        <section id="macbook">
            <div class="container">
            <h2>About us</h2>
                
                <p style="font-size: 20px;text-align: left;">Spotable is a digital marketing company specializing in SEO. From small startups to establish companies, We are helping everyone to make the most out of their digital marketing campaigns. Our team includes some SEO specialists, full stack developers and even Google’s Ex-Employees. We want to provide quality SEO services at affordable prices to new budding startups.</p>
                <img src="{% static "img/macbookpro.png" %}"/>
            </div>
        </section>

        <section class="call-to-action">
            <div class="cta-container cf">
                <p>Want to know more about Spotable?</p>
                <a class="btn" href="{% url 'about' %}">Read about us →</a>
            </div>
        </section>
        <!-- Summary Section -->


        <!-- Three Images Section -->



        <!-- Slider Section -->



        <!-- List Section -->
        <section id="list">
            <div class="container">
                <header class="body-header">
                    <h2>How we <b>work</b></h2>
                    <p>Our SEO services can be summarized into these 6 core steps</p>
                </header>
                <article>
                    <div class="list-row cf">
                        <div class="list-item">

                            <h3>1. Keyword research</h3>
                            <p>It all starts with a keyword research, We analyse your website, competitors and google search data to finalize on the keyword which are most appropriate to target.</p>
                        </div>
                        <div class="list-item">

                            <h3>2. Site Structure</h3>
                            <p>Next we identify and assign the web pages which will be used to target these keywords. And construct a site structure for your website.</p>
                        </div>
                    </div>
                    <div class="list-row cf">
                        <div class="list-item">

                            <h3>3. On-Page</h3>
                            <p>With the help of some of our internally developed AI softwares we make sure that all your pages are optimised as per Google’s latest algorithms.</p>
                        </div>
                        <div class="list-item">

                            <h3>4. Off-Page</h3>
                            <p>With the help of our network we continuously develop good links and Ensure that you have the most relevant, high authority backlink profile from your relevant niche..</p>
                        </div>
                    </div>
                    <div class="list-row cf">
                        <div class="list-item">

                            <h3>5. Site-Wide issues</h3>
                            <p>We also take care of the proper homeation and rendering of your desired pages. Optimize Local results and fix any manual or algorithmic penalty imposed by google.</p>
                        </div>
                        <div class="list-item" id="last-item">

                            <h3>6. Reporting</h3>
                            <p>At the end of every month, we will send you a report on how your site is performing in terms of ranking in google as well as improvement in traffic.</p>
                        </div>
                    </div>
                </article>
            </div>
        </section>

{% endblock %}
