  <style type="text/css">
  p{display: inline;}
  	#id_email{  
    outline: none;
    padding: 12px 15px;
    outline: none;
    color: #202020;
    background: #FFF;
    border: none;
    width: 50%;
    line-height: 1.5em;
    font-size: 0.8125em;}
    label{display: none;}
    body{margin:0px;}
    form text(){color: white;font-weight: 400;font-size:18px;}
  </style>


  <form method="POST" class="post-form" id="form" style="display:block;padding-bottom:10px;margin-top: -10px;">{{ message }}
  {% csrf_token %}

      {{ form.as_p }}
<input type="submit" style="background: #C7C7C7;
    padding: 9px 19px;
    border: none;
    cursor: pointer;
    position: absolute;
    line-height: 1.6em;
    font-size: 1em;
    color: #000;
    font-weight: 800;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;" value="Go!" >
  

 
              
                </form>

                 