  <style type="text/css">
  	#id_email{    float: left;
    outline: none;
    padding: 12px 15px;
    outline: none;
    color: #202020;
    background: #FFF;
    border: none;
    width: 74%;
    line-height: 1.5em;
    font-size: 0.8125em;}
    label{display: none;}
  </style>t


  <form method="POST" class="post-form" id="form" style="display:block;padding-bottom:10px;">{{ message }}
  {% csrf_token %}

      {{ form.as_p }}
<input type="submit" style="display:{{display}};background: #C7C7C7;
    padding: 9px 19px;
    border: none;
    cursor: pointer;
    position: absolute;
    line-height: 1.6em;
    font-size: 1em;
    color: #000;
    font-weight: 800;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;" value="Go" >
  

 
              
                </form>

                 