{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Our Privacy policy | Spotable{% endblock %}

{% block content %}


    <!-- Fixed navbar -->


<div style="padding:3%;">


  <h1>Privacy <b>Policy</b></h1>
<br>
<h3>Our Privacy Policy</h3>
<p>Privacy of our visitors is really important for us. This page will help you understand our privacy policy and the way we handle any data provided by you. In order to keep this document accessible, we have made it available in the footer section of all our pages. </p>


  <h3>Data We Collect</h3>
  <p>This information is applicable to all the data which is being collected by us via our website Spotable.in There are sections on our website where you might have to submit some data which includes the following.</p>

  <p>Name<br>
  Address ( not always required )<br>
  Email address<br>
  Phone number ( not always required )<br></p>


  <h3>Use of the Data:</h3>
  <p>Any email addresses submitted by our visitors are only used to communicate with them and are not shared with any third party. </p>

  <p>We don't send any spam emails to our visitors, However, if you want to receive the blog updates on SEO written by ou team you can subscribe for the same. You can subscribe or unsubscribe from the list at your wish.</p>


  <p>We monitor user behavior in order to better design our website and improve the user experience but as valuing your privacy is absolutely important to us thus we don't identify any users personally on the website. Every visitor is anonymous.</p>

  <p>Lastly, Spotable avoids using the personally identifiable information which you provide to us via our website in any way other than the points mentioned above. We also allow our visitors to opt out from any services they have previously opted in for. </p>

  <h3>Data Security</h3>
  <p>In order to avoid any unauthorized person to access the data of our visitors, We have established all possible security features wherever possible, to prevent it from Physical or Electronic theft.</p>

  <h3>Contact Us</h3>
  <p>If you have any questions regarding our privacy policies, kindly feel free to contact us from the contact link mentioned in the header of all our pages.</p>




</div>




{% endblock %}
