  {% load staticfiles %}
  <!DOCTYPE html>
<html lang="en">
  <head>

    <title>Privacy Policy of SPotable</title>
    <meta name="description" content="We have an experienced team which includes SEO specialists, full stack developers and even Google’s Ex-Employees.">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <meta name="google-site-verification" content="L1fLUIYzXPE9F327Jjom-0ElZYgxFBdGfeMBSmyXXyo" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static "shield.png" %}">


    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:700,400,300' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}" />

  </head>

  <body>

    <!-- Fixed navbar -->

    <div class="navbar navbar-default " id='mainmenu' style="background-color:#00b0ff;background-image:none !important;box-shadow:none!important;">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}" style='font-size: 28px;padding-top: 10px;'>

            <img src="{% static "img/shield.png" %}"  style="height:30px !important;padding-right:5px !important;display:inline-block;"><b>Spotable</b></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>


          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>


    <!-- Fixed navbar -->


    <div id="aboutpage" style="background-color:white !important;">
      <div class="container">


    <div class="row">
<br><br><br><br><br><br>
<h1>Privacy <b>Policy</b></h1>

</div><!--/.nav-collapse -->
</div>
</div>



  <div id="aboutpage" style="background-color:white !important;">
    <div class="container">


  <div class="row">




<div class="col-md-1"></div>

<div class="col-md-10" id='aboutpagetext'>

<h2>Our Privacy Policy</h2>
<p>Privacy of our visitors is really important for us. This page will help you understand our privacy policy and the way we handle any data provided by you. In order to keep this document accessible, we have made it available in the footer section of all our pages. </p>


  <h2>Data We Collect</h2>
  <p>This information is applicable to all the data which is being collected by us via our website Spotable.in There are sections on our website where you might have to submit some data which includes the following.</p>

  <p>Name<br>
  Address ( not always required )<br>
  Email address<br>
  Phone number ( not always required )<br></p>


  <h2>Use of the Data:</h2>
  <p>Any email addresses submitted by our visitors are only used to communicate with them and are not shared with any third party. </p>

  <p>We don't send any spam emails to our visitors, However, if you want to receive the blog updates on SEO written by ou team you can subscribe for the same. You can subscribe or unsubscribe from the list at your wish.</p>


  <p>We monitor user behavior in order to better design our website and improve the user experience but as valuing your privacy is absolutely important to us thus we don't identify any users personally on the website. Every visitor is anonymous.</p>

  <p>Lastly, Spotable avoids using the personally identifiable information which you provide to us via our website in any way other than the points mentioned above. We also allow our visitors to opt out from any services they have previously opted in for. </p>

  <h2>Data Security</h2>
  <p>In order to avoid any unauthorized person to access the data of our visitors, We have established all possible security features wherever possible, to prevent it from Physical or Electronic theft.</p>

  <h2>Contact Us</h2>
  <p>If you have any questions regarding our privacy policies, kindly feel free to contact us from the contact link mentioned in the header of all our pages.</p>




</div>
<div class="col-md-1"></div>
</div>


  </div>
  </div>




  <div class="footerlinks col-md-12">
    <div class='container'>
      <div class='row'>
        <div class="col-md-12">


          <div class="col-md-3">
          <p>  <a class='' href="{% url 'index' %}" style='font-weight: 400 !important; '>Home page</a></p>
          <p>   <a class='' href="{% url 'about' %}" style='font-weight: 400 !important;'>About us</a></p>
          <p>   <a class='' href="{% url 'contact' %}" style='font-weight: 400 !important;'>Contact us</a></p>
          </div>

          <div class="col-md-3">
          <p>   <a class='' href="{% url 'privacy' %}" style='font-weight: 400 !important; '>Privacy policy</a></p>
          <p>   <a class='' href="{% url 'about' %}" style='font-weight: 400 !important;'>Our Blogs</a></p>
          <p>   <a class='' href="{% url 'contact' %}" style='font-weight: 400 !important;'>Apply for Job</a></p>
          </div>

          <div class="col-md-3">
          <p> Lane 6, Koregaon Park<br> Pune 411001</p>
          <p> info@spotable.in</p>

          </div>

          <div class="col-md-3">
            <input class="form-control" style="display:inline-block !important;width:150px !important;"></input>
            <submit class="btn btn-success" style="padding:10px !important;">Subscribe</submit><br><br>
            <img src="{% static "img/cards.png" %}"  style="width: 100% !important;">
          </div>









      </div>

       </div>
     </div>
   </div>

   <div class="col-lg-12" id='footerstrip' style='background-color: #353f49!important' >
  <div class="container desktop" style="padding:10px !important;    text-align: center !important;">

              <span style='color:white !important;font-weight: 400 !important;text-align:center !important;'>©Spotable 2017</span>

  <div class="container mobile footermobile">
    <div>
      <p>
  info@Spotable.in  &nbsp !important;&nbsp !important;&nbsp !important;  +91 7276-888-089
  </p>
    </div>


  </div>


  </div></div>
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r ;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date() ;a=s.createElement(o),
  m=s.getElementsByTagName(o)[0] ;a.async=1 ;a.src=g ;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga') ;

  ga('create', 'UA-85089212-1', 'auto') ;
  ga('send', 'pageview') ;

  </script>
  </body>
  </html>
