{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{post.title}} | Spotable{% endblock %}
{% block content %}

<style>
#id_blog, #id_date{display: none;}
.container {font-family: Georgia,Times,'Times New Roman',serif;}

</style>


<div class="container" style="">

<div class="row">
<div class="col-md-10 col-md-offset-1" >
<br>  <h1>{{post.title}}</h1>
<p><div style="margin-right:5px;background-color: khaki;border-radius: 50%;width: 35px;height: 35px;display: inline-block;color: white;font-size: 23px;text-align: center;">{{post.ic}}</div> <span style='font-size:14px;'>By <b> {{post.name}}</b>  <b style="float: right;">{{post.date}}</b></span></p>
</div>


<div class="postbody">


<p>
  {{post.body|safe}}

</p>
</div>
</div>
</div>
<br>


{% if user.is_authenticated %}
  <section class="wrapper" style="border:0px solid lightgrey;">

    

      


 
  <ul class="tools" style="border:1px solid lightgrey;padding: 2%;border-radius: 4px;">
    <li>
      <a href='#' data-role='bold'>
        <i class="fa fa-bold" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href='#' data-role='italic'>
        <i class="fa fa-italic" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href='#' data-role='insertUnorderedList'>
        <i class="fa fa-list" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href='#' data-role='insertOrderedList'>
        <i class="fa fa-list-ol" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href='#' data-role='createLink'>
        <i class="fa fa-link" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href='#' data-role='unlink'>
        <i class="fa fa-unlink" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href='#' data-role='insertHorizontalRule'>
        <i class="fa fa-minus" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href='#' data-role='insertParagraph'>
        <i class="fa fa-paragraph" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href='#' data-role='justifyLeft'>
        <i class="fa fa-align-left" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href='#' data-role='justifyCenter'>
        <i class="fa fa-align-center" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href='#' data-role='justifyRight'>
        <i class="fa fa-align-right" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href='#' data-role='subscript'>
        <i class="fa fa-subscript" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href='#' data-role='superscript'>
        <i class="fa fa-superscript" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href='#' data-role='underline'>
        <i class="fa fa-underline" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
  <div class="modal">
    <div class="modal__wrapper">
      <form class="urlForm" name="urlForm">
        <input class="url" name="urlField" placeholder="Add URL" />
        <i class="fa fa-close closeModal" aria-hidden="true"></i>
      </form>
    </div>
  </div>


<form method="POST" class="post-form" id="form" style="text-align: center;padding: 1%;text-align: left;">{% csrf_token %}
  <div id='id_comment' name='comment' class="editableContent" contenteditable spellcheck="false" style="background-color: white;color: black;border:1px solid lightgrey;padding: 2%;border-radius: 4px;">
    <p>Click anywhere in the text to start typing or editing the existing text.</p>
 
  </div>
{{ form.as_p }}

  <input id="id_blog" maxlength="5000" name="blog" style='' type="text" value="{{post.title}}">

      <button type="submit"  class="save btn btn-default" style="    float: right;"  ">Post Answer</button>
  </form>

</section>










 {% else %}

      <div class=" cf" style="max-width: 750px;
    margin: auto;">
<h4 style=""> <a  class="" style="" href="/admin">LogIn</a> to post answers </h4>

      

      </div>
 
{% endif %}

<div class="container" style="">

<div class="row">
<div class="comments">

<br>
  <h3 style="text-align: center;">All Answers</h3><br>

    {%for x in comments%}
  {% if x.blog == post.title %}

  <div class="commentblock">


<div class="acomment">
<div class="profilesection" style="display: inline-block;padding:2%; width: 150px;  padding-top: 1%;text-align: center;vertical-align: top;">
<div style="margin-right:5px;background-color: khaki;border-radius: 50%;width: 100px;height: 100px;display: inline-block;color: white;font-size: 60px;text-align: center;">{{x.ic}}</div> <span style='font-size:14px;'> <br>By <b> {{x.name}}</b></span>
</div>
<div class="commentsection" style="display: inline-block;width: 80%;    border: 1px solid lightgrey;border-radius: 4px;">
<p style='font-size:14px;text-align: right;padding-top: 2%;'><b>On {{x.date}}</b></p>
<p>{{x.comment|safe}}</p>

<p style="text-align: right;padding-top: 15px;">
<img src="{% static 'img/like2.png' %}" style="width: 30px;margin-right: 15px;">
<img src="{% static 'img/like2.png' %}" style="width: 30px;transform: rotate(180deg); ">
</p>
</div>
</div>

</div>
<br>
  {% endif%}
  {%endfor%}

</div>

  
 


</div>
<br><br>
</div>





{% endblock %}
