{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{post.title}} | Spotable{% endblock %}
{% block content %}

<style>
#id_blog, #id_date{display: none;}
</style>


<div class="container">

<div class="row">
<div class="col-md-10 col-md-offset-1" >
<br>  <h1>{{post.title}}</h1>
<p><div style="margin-right:5px;background-color: khaki;border-radius: 50%;width: 35px;height: 35px;display: inline-block;color: white;font-size: 20px;text-align: center;">{{post.ic}}</div> <span style='font-size:16px;'>By <b> {{post.name}}</b> on <b>{{post.date}}</b></span></p>


<div class="postbody">



  {{post.body|safe}}


</div>
<br>


<div class="comments">

  
  <form method="POST" class="post-form" id="form" style="text-align: center;">{% csrf_token %}

      {{ form.as_p }}

  <input id="id_blog" maxlength="5000" name="blog" style='' type="text" value="{{post.title}}">

      <button type="submit"  class="save btn btn-default">Post Answer</button>
  </form>
  <br>

  <h3 style="text-align: center;">All Answers</h3>

    {%for x in comments%}
  {% if x.blog == post.title %}

  <div class="commentblock">
<div class="atitle">

  <div style="margin-right:5px;background-color: khaki;border-radius: 50%;width: 33px;height: 33px;display: inline-block;color: white;font-size: 20px;text-align: center;">{{x.ic}}</div> <span style='font-size:14px;'>By <b> {{x.name}}</b> on <b>{{x.date}}</b></span>

</div>

<div class="acomment">
<p>{{x.comment|safe}}</p>
</div>

</div>
<br>
  {% endif%}
  {%endfor%}

</div>

  
 


</div>
</div>
</div>
<br><br>



{% endblock %}
