{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{post.title}} | Spotable{% endblock %}
{% block content %}

<style>
#id_blog, #id_date{display: none;}
</style>


<div class="container">

<div class="row">
<div class="col-md-10 col-md-offset-1" >
<br>  <h1>{{post.title}}</h1><br>
<p>By <b> {{post.name}}</b> on <b>{{post.date}}</b><br>
<div class="postbody">

<div style="background-color: khaki;border-radius: 50%;width: 70px;height: 70px;display: inline-block;color: white;font-size: 40px;text-align: center;">R</div>
<br>
  {{post.body}}
{{post.ic}}

</div>




<div class="comments">

  <h2>Comments</h2>
  <form method="POST" class="post-form" id="form">{% csrf_token %}

      {{ form.as_p }}
  <input id="id_blog" maxlength="5000" name="blog" type="text" value="{{post.title}}">
      <button type="submit"  class="save btn btn-default">Post</button>
  </form>
  <div>
  {%for x in comments%}
  {% if x.blog == post.title %}
  <p>By <b> {{x.name}}</b> on <b>{{x.date}}</b><br>{{x.comment}}</p>
  {% endif%}
  {%endfor%}
  </div>

</div>



</div>
</div>
</div>




{% endblock %}
