{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Questions & Answers | Spotable{% endblock %}
{% block content %}
<div class="container">
<div class="row">
<div class="col-md-12">


<h1 style="text-align:center !important;">Questions & Answers </h1>



{% for x in blogs %}
<div class="question">
  <h1>{{x.title}}</h1>
  <p>{{x.date}}</p>
  <p><a class="btn btn-success" href="{% url 'answers:show' slug=x.slug %}" role="button">Read Answers</a>
    <!-- <a href="{% url 'answers:new'%}">New</a>  -->

    <!--  <a href="{% url 'answers:edit' pk=x.pk %}">Edit</a>-->
</div>

{%endfor%}

</div>
</div>
</div>
{% endblock %}
