{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Questions & Answers | Spotable{% endblock %}
{% block content %}
<div class="container" style="padding: 4%;">
 <h1 style="text-align:center !important;">Questions & Answers </h1>
<div class="row">
<br>
{% for x in blogs %}




<div style="border:1px solid  lightgrey;width: 49%;min-width: 300px;display: inline-block;">
<div style="border-bottom:1px solid  lightgrey;padding: 1% 2%;">
<h2 style="color:grey;font-size: 1.6em;"><a href="{% url 'answers:show' slug=x.slug %}" style="color: grey;"> {{x.title}}</a></h2>
</div>
<div style="background-color: #f0f0f0;padding: 1% 2%;font-size:14px;">
By <b> {{x.name}}</b> on <b>{{x.date}}</b>
</div>
</div>

<br>




{%endfor%}
</div></div>
{% endblock %}


