{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Questions & Answers | Spotable{% endblock %}
{% block content %}
<div class="container" style="padding: 4%;">
 <h1 style="text-align:center !important;">Questions & Answers </h1>
<div class="row">
<br>
{% for x in blogs %}




<div style="border:1px solid  lightgrey;">
<div style="border-bottom:1px solid  lightgrey;">
<h2 style="color:grey;font-size: 2.0em;"><a href="{% url 'answers:show' slug=x.slug %}" style=""> {{x.title}}</a></h2>
</div>
<div style="background-color: #f0f0f0;padding:2%;">
By <b> {{x.name}}</b> on <b>{{x.date}}</b>
</div>
</div>

<br>




{%endfor%}
</div></div>
{% endblock %}


