{% extends "base.html" %}
{% load staticfiles %}
{% block title %}SEO blog | Spotable{% endblock %}
{% block content %}



<div class="container">
<br>  <h1 style="text-align:center !important;">SEO blog </h1><br>
<div class="row">
<div class="col-md-10 col-md-offset-1" >






{% for x in blogs %}
<div class="question">
  <h2>{{x.title}}</h2>
  <p>{{x.date}}</p>
  <p><a class="btn btn-success" style='color:white !important;' href="{% url 'answers:show' slug=x.slug %}" role="button">Read more</a>
    <!-- <a href="{% url 'answers:new'%}">New</a>  -->

    <!--  <a href="{% url 'answers:edit' pk=x.pk %}">Edit</a>-->
</div>

{%endfor%}

</div>
</div>
</div>
{% endblock %}
